.autocomplete-light-box {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 1000;
  background-color: white;
  border-radius: 2px;
  pointer-events: all !important;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  padding: 8px 0;
}

.autocomplete-light-box [data-value] {
  padding: 0 22px;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  white-space: nowrap;
}

.autocomplete-light-box .hilight {
  background-color: #f5f5f5;
}

autocomplete-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

autocomplete-select [slot=deck] {
  display: block;
}

autocomplete-select [slot=deck] [data-value] {
  margin: 2px;
  border-radius: 4px;
  background-color: #f5f5f5;
  letter-spacing: .0178571429em;
  color: rgba(0,0,0,.87);
  cursor: pointer;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  padding: 0 8px;
  height: 32px;
  align-items: center;
}


autocomplete-select [slot=deck] .clear {
  padding-left: 5px;
  font-weight: 600;
  color: var(--mdc-theme-error, #b00020);
}
