autocomplete-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

autocomplete-select [slot=deck] {
  display: block;
}

autocomplete-select [slot=deck] [data-value] {
  margin: 4px;
  border-radius: 16px;
  font-size: .875rem;
  background-color: #e0e0e0;
  letter-spacing: .0178571429em;
  color: rgba(0,0,0,.87);
  cursor: pointer;
  line-height: 1.25rem;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  padding: 0 12px;
  height: 32px;
  align-items: center;
}


autocomplete-select [slot=deck] .clear {
  padding-left: 5px;
}
